/*Navbar*/


* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: bold;
  text-align: center;
}

.header {
  top: 0;
  width: 100%;
  padding: 20px 0;
  background: white;
  height: 65px;
  position: fixed;
  z-index: 1000;
}


.navbarelement {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}

.navbarlink::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: .3s;
}


.navbarlink:hover::before {
  width: 100%;
}



#Homelink {
  font-weight: bold;
  color: black;
}

#Createlink {
  color: rgb(232, 203, 34);
}

#Explorelink {
  color: rgb(106, 165, 37);
}

#Elevatelink {
  color: rgb(255, 166, 48);
}

#signupbuttonnavbar {
  background: rgb(218, 51, 21);
  border-radius: 25px;
  border: none;
  padding-bottom: 5px;
  transition: 0.5s;
  padding-top: 5px;
  padding-right: 11px;
  padding-left: 11px;
  color: #000;
  font-size: 18px;
}

#signupbuttonnavbar:hover {
  color: rgb(218, 51, 21);
  background-color: black;
}



/*Navbar*/


#create {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

body {
  background-image: url("../photos/istockphoto-873788294-612x612.png");
  background-repeat: repeat-x, repeat y;

}

#chainsaw {
  border-radius: 50%;
  margin-top: -20%;
  width: 70%;
}

#para1 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

#workshop1 {
  margin-top: 5%;
  left: 10%;
}

.workshopimg {
  position: absolute;
  margin-top: 5%;
  width: 30%;
  object-fit: cover;
  height: 35%;
}

#workshop2 {
  margin-top: 5%;
  left: 60%;
}

#sen1 {
  font-size: 35px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 23%;
}

#sen2 {
  font-size: 25px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
  margin-bottom: 5%;
}

p {
  color: white;
}



#footer {
  z-index: 100000000;
  /* margin-top: 300%; */
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: black;
}

#innerfooter {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: 100%;
}

#innerfooter #references {
  z-index: 1000000000000000000000000000000000;
  width: 50%;
  margin-right: 20px;
  /* float: none; */
  height: 100%;
}

#innerfooter #references h1 {
  font-size: 22px;
  color: grey;
  display: block;
  width: 100%;
  margin-bottom: 10%;
}

#innerfooter #references a {
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 1%;
}

#innerfooter2 #about {
  z-index: 1000000000000000000000000000000000;
  width: 50%;
  /* margin-left: 20px; */
  float: right;
  height: 100%;
}

#innerfooter2 #about h1 {
  font-size: 22px;
  color: grey;
  display: block;
  width: 100%;
  margin-bottom: 10%;
}

#innerfooter2 #about a {
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 1%;
}



@media only screen and (max-width: 1125px) {
  .navbarlink {
    margin-left: 4%;
    margin-right: 4%;
  }





}

@media only screen and (max-width: 860px) {
  .navbarlink {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 717px) {
  .navbarlink {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

@media only screen and (max-width: 573px) {
  .navbar a {
    font-size: 11px;
  }

  #signupbuttonnavbar {
    font-size: 11px;
  }

}


@media only screen and (max-width: 400px) {
  .navbarlink {
    margin-left: .5%;
    margin-right: .5%;
  }

  .navbar a {
    font-size: 9px;
  }

  #signupbuttonnavbar {
    font-size: 9px;
  }
}