/*Navbar*/


* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: bold;
  text-align: center;
}

.header {
  top: 0;
  width: 100%;
  padding: 20px 0;
  background: white;
  height: 65px;
  position: fixed;
  z-index: 1000;
}


.navbarelement {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}

.navbarlink::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: .3s;
}


.navbarlink:hover::before {
  width: 100%;
}



#Homelink {
  font-weight: bold;
  color: black;
}

#Createlink {
  color: rgb(232, 203, 34);
}

#Explorelink {
  color: rgb(106, 165, 37);
}

#Elevatelink {
  color: rgb(255, 166, 48);
}

#signupbuttonnavbar {
  background: rgb(218, 51, 21);
  border-radius: 25px;
  border: none;
  padding-bottom: 5px;
  transition: 0.5s;
  padding-top: 5px;
  padding-right: 11px;
  padding-left: 11px;
  color: #000;
  font-size: 18px;
}

#signupbuttonnavbar:hover {
  color: rgb(218, 51, 21);
  background-color: black;
}



/*Navbar*/



/*homepage*/


#imgspaceshuttle1 {
  width: 99%;
  opacity: 0.5;
  margin-bottom: 0px;
  position: absolute;
  overflow-x: hidden;
  left: 0;

}

#imgspaceshuttle2 {
  width: 99%;
  opacity: 0.2;
  margin-bottom: 50px;
  object-fit: contain;
  object-position: left;
  left: 0;



}

.imgspaceshuttle {
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

#spaceshuttlediv {
  position: relative;
  top: 65px;

}


.imgspaceshuttle, .spaceshuttletext {
  position: absolute;

}

.spaceshuttletext {
  width: 99.99%;
  font-weight: 200;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  font-size: 60px;
  /* text-align: center; */
  z-index: 101;
}

#outofthisworld {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-top: 4.5%;
  font-weight: 500;
}

/* #paradiv {
  top: 900px;
} */

#spaceshuttlepara {
  margin-top: 106%;
  left: 38%;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  width: 32%;
  margin-left: auto;
  margin-right: auto;
}



*/ #joinbuttonlink {
  width: 99.99;
  margin-left: auto;
  margin-right: auto;
}

#joinbuttonb {
  color: black;
  background-color: rgb(218, 51, 21);
  position: absolute;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  padding: 11px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s;
  margin-top: 118%;
  left: 50%;
}

#joinbuttonb:hover {
  color: rgb(218, 51, 21);
  background-color: black;
}


body {
  overflow-x: hidden;
}


/* homepage part 2 */



/* #spacebelow-div {
  position: relative;
} */

#spacebackground {
  margin-top: 137.8%;
  position: absolute;
  left: 0;
  width: 275%;
}

#sattelite {
  top: 317.5%;
  position: absolute;
  left: 0;
  width: 615px;
  object-fit: cover;
  object-position: center;
}

#EXPLOREsattelite {
  font-weight: 700;
  top: 349%;
  position: absolute;
  left: 0.6%;
  color: rgb(106, 165, 37);
  font-size: 30px;
  transform: rotate(-20deg);

}

#makemake {
  top: 350%;
  position: absolute;
  left: 36%;
  width: 500px;
  object-fit: cover;
  object-position: center;
}

#CREATEsattelite {
  font-weight: 700;
  top: 330%;
  position: absolute;
  left: 25%;
  color: rgb(232, 203, 34);
  font-size: 30px;
  transform: rotate(-20deg);

}

#ELEVATEmakemake {
  font-weight: 700;
  top: 368%;
  position: absolute;
  left: 45%;
  color: rgb(255, 141, 48);
  font-size: 30px;

}

#your {
  color: white;
  font-weight: 700;
  top: 372%;
  position: absolute;
  left: 63%;
  font-size: 30px;
}

#sun {
  top: 277%;
  position: absolute;
  left: 65%;
  width: 35%;
  object-fit: cover;
  object-position: center;

}

#IDEASsun {
  color: white;
  font-weight: 700;
  top: 369%;
  position: absolute;
  left: 90%;
  font-size: 40px;

}


#para {
  position: absolute;
  color: white;
  top: 405%;
  width: 10vw;
  font-size: 20px;
  left: 34%;
  border: black;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

/* #mars {
  top: 4100px;
  position: absolute;
  left: 1000px;
  width: 700px;
  object-fit: cover;
  object-position: center;
} */

#rocketmars {
  width: 1900px;
  top: 460%;
  position: absolute;
  left: -30%;
  object-fit: cover;
  object-position: center;
}

#marsexplore {
  color: white;
  font-weight: 700;
  top: 537%;
  position: absolute;
  left: 1220px;
  font-size: 85px;
}

#marsyour {
  color: white;
  font-weight: 700;
  top: 550%;
  position: absolute;
  left: 1220px;
  font-size: 40px;
  width: 30vw;
}

#explorewmars {
  background-color: rgb(106, 165, 37);
  color: white;
  font-weight: 700;
  top: 563%;
  position: absolute;
  left: 64%;
  font-size: 35px;
  border: none;
  padding: 11px;
  border-radius: 5px;
  transition: 0.3s;
  z-index: 100;
  cursor: pointer;

}

#explorewmars:hover {
  color: rgb(106, 165, 37);
  background-color: white;
}

#clouds1 {
  width: 1900px;
  top: 560%;
  position: absolute;
  left: -20%;
  object-fit: cover;
  object-position: center;
  bottom: 0%;
  opacity: 0.99;
}

#clouds2 {
  width: 1900px;
  top: 560%;
  position: absolute;
  left: 31%;
  object-fit: cover;
  object-position: center;
  bottom: 0%;
  opacity: 0.99;
}


#footer {
  z-index: 100000000;
  margin-top: 300%;
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: black;
}

#innerfooter {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: 100%;
}

#innerfooter #references {
  z-index: 1000000000000000000000000000000000;
  width: 50%;
  margin-right: 20px;
  /* float: none; */
  height: 100%;
}

#innerfooter #references h1 {
  font-size: 22px;
  color: grey;
  display: block;
  width: 100%;
  margin-bottom: 10%;
}

#innerfooter #references a {
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 1%;
}

#innerfooter2 #about {
  z-index: 1000000000000000000000000000000000;
  width: 50%;
  /* margin-left: 20px; */
  float: right;
  height: 100%;
}

#innerfooter2 #about h1 {
  font-size: 22px;
  color: grey;
  display: block;
  width: 100%;
  margin-bottom: 10%;
}

#innerfooter2 #about a {
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 1%;
}









/* navbar for mobile of different sizes */

@media only screen and (max-width: 1629px) {
  #sattelite {
    width: 500px;
  }

  #makemake {
    left: 500px;
    width: 400px;
  }

  #ELEVATEmakemake {
    left: 656px;
  }

  #your {
    left: 1000px;
  }

  #sun {
    left: 1100px;
    width: 1000px;
  }

  #IDEASsun {
    position: absolute;
    left: 1400px;
    top: 300px;
  }

  #spaceshuttlepara {
    font-size: 20px;
  }

  #joinbuttonb {
    font-size: 20px;
  }

  #rocketmars {
    width: 105%;
  }

  #marsexplore {
    left: 60%;
    font-size: 40px;
  }

  #marsyour {
    font-size: 20px;
    left: 60%;
  }

  #explorewmars {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1265px) {
  #joinbuttonb {
    padding: 8px;
  }

  #spaceshuttlepara {
    font-size: 18px;
    width: 40%;
  }
}

@media only screen and (max-width: 1125px) {
  .navbarlink {
    margin-left: 4%;
    margin-right: 4%;
  }


  #spaceshuttlepara {
    margin-top: 100%;
  }
}

@media only screen and (max-width: 883px) {
  #spaceshuttlepara {
    width: 57%;
    left: 21%;
  }
}

@media only screen and (max-width: 707px) {}





@media only screen and (max-width: 860px) {
  .navbarlink {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 717px) {
  .navbarlink {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

@media only screen and (max-width: 573px) {
  .navbar a {
    font-size: 11px;
  }

  #signupbuttonnavbar {
    font-size: 11px;
  }

  .spaceshuttletext {
    font-size: 40px;
  }

  #joinbutton {
    font-size: 15px;
  }

}


@media only screen and (max-width: 400px) {
  .navbarlink {
    margin-left: .5%;
    margin-right: .5%;
  }

  .navbar a {
    font-size: 9px;
  }

  #signupbuttonnavbar {
    font-size: 9px;
  }
}